<h1 style=""><%= link_to 'Batman', pages_batman_path %></h1>
<div class="container"><%= render 'votos/form' %></div>

<h1 style="text-align:right"><%= link_to 'Superman', pages_superman_path %></h1>
<div class="container" style="float:right"><%= render 'votos/form' %></div>
